body {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.task-card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.task-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
select option{
color: black;
}